
    <div class="main home">
      <div class="jumbotron"> 
        <div class="container"> 
          <h2 class ="slogan">Creative Engineering Solutions</h2> 
          <a class="btn right" href="portfolio">View Projects</a> 
        </div> 
      </div> 
    </div> 
