<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link data-turbolinks-track="true" href="/assets/application-f7aa79b389eed3447dbd88f8dcc0b59e.css" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="/assets/application-4fba09a36c46587a0f07211966615115.js"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="iW+WerP+62pK97xpbj1F8xkYUN1HqHLsfd9+Rw62+YU=" name="csrf-token" />
  </head>
  <body>
    <!--
    <div class="header">
      <nav class="navbar navbar-inverse navbar-static-top">
    		<div class="container">
      		<div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          		<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="http://disputebills.com"><img src="http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
      		</div>
      		<div id="navbar3" class="navbar-collapse collapse">
        		<ul class="nav navbar-nav navbar-right">
          		<li class="active"><a href="#">Home</a></li>
          		<li><a href="#">About</a></li>
          		<li><a href="#">Contact</a></li>
          		<li class="dropdown">
           			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
           			<ul class="dropdown-menu" role="menu">
             			<li><a href="#">Action</a></li>
             			<li><a href="#">Another action</a></li>
             			<li><a href="#">Something else here</a></li>
             			<li class="divider"></li>
             			<li class="dropdown-header">Nav header</li>
             			<li><a href="#">Separated link</a></li>
             			<li><a href="#">One more separated link</a></li>
           			</ul>
          		</li>
        		</ul>
      		</div>
      <!--/.nav-collapse 
    		</div>
    <!--/.container-fluid 
  		</nav>
		</div>
-->
    <div class="main home">
      <div class="jumbotron"> 
        <div class="container"> 
          <h2>Hello. My name is <span class="highlight">Matt Healy</span> and I have creative ideas and build websites</h2> 
          <a class="btn right" href="portfolio">View Projects</a> 
        </div> 
      </div> 
    </div> 
    <div class="footer"> 
      <div class="container"> 
        <ul class="social_media"> 
          <li><a class="github" href="#">github</a></li> 
          <li><a class="linkedin" href="#">linkedin</a></li> 
          <li><a class="facebook" href="#">facebook</a></li> 
        </ul>
        <p>&copy; 2015 Rohrs Engineering</p>
        <!--Use this to insert image in html
				<%= image_tag("social.png", :alt => "rss feed") %>
				-->
      </div>
    </div>
  </body> 
  </html>